<article class="post">
  <div class="title">
    {{title}}<br><br>
    Content:
    {{post_content}}
  </div>
  <div class="meta">
    By: {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>